@charset "UTF-8";
/* @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

*{  
  margin: 0; padding: 0; border: 0;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  word-break: break-all;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; 
  -webkit-font-smoothing:antialiased;
}
ul , li{list-style: none;}
img , main , article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
a{text-decoration: none; color: inherit;}
input{
  border-radius:0;
  -webkit-appearance:none; /* appearance: 속성을 날릴때 쓴다. */
  -moz-appearance:none;
  appearance:none;
}
em , address{font-style: normal;}
body{
  overflow-x: hidden;
  height: 7000px;
  font: 16px / 1.2 'Montserrat', 'GmarketSansMedium' , sans-serif; letter-spacing: -1.5px;
  background-color: #000;
  cursor: none;
}
button{
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.hidden{
  width: 0; height: 0; overflow: hidden;
  font-size: 0; line-height: 0; text-indent: -9999px;
  position: absolute; left: -9999px;
}
.skip-nav a{
  display: flex; justify-content: center; align-items: center;
  width: 100%; height: 40px;
  color: #fff;
  background-color: #000;
  position: fixed; left: 0; top: -100px;
}
.skip-nav a:focus{top: 0;}
::-webkit-scrollbar {
  display: none;
}